/**
 * Atayen US
 *
 * @category    Integration
 * @package     Global STYLUS
 * @copyright   Copyright (c) 2021 Atayen. (http://www.Atayen.us)
 * @author      BENMESSAOUD ADAM (adam@atayen.us)
 */

@import nib;

/*==== Reset=================*/ 
@import 'sections/reset.styl'
@import 'sections/header.styl'
@import 'sections/section-1.styl'
@import 'sections/section-2.styl'
@import 'sections/section-3.styl'
@import 'sections/menu.styl'
@import 'sections/colors.styl'
/*===========================*/

