.menu{
    background:#15274A;
  
    ul{
        li{
            padding:20px;
            a{
                color:white;
                font-size:20px;
                text-align: center;
                font-weight:bold;
                font-style: normal;
                &:hover{
                    border-bottom: 3px solid #4080FF;
                }

            }
        }
    }
}