body{
    font-family:Nunito
    .btn-green{
        background:#42B72A;
        padding:27px 23px;
        color:white;
        border-radius:20px;
        border:3px solid #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
.title-section{
    color:#15274A;

      text-align:center;
h2{
          font-family:Nunito-bold
  
    font-size:40px;
}
p{  font-family:Nunito
font-weight:bold;
    font-size:32px;
}
}


}

