.section-2{
    background:#F3F7FF;
    padding:124px 0 75px 0
    margin:35px 0 0 0
    
    .content-section{
        .card{
            text-align:center;
            padding:32px;
            border-radius:30px;
            margin:35px 0;
            img{
                max-width:92px;
                margin:auto;
            }
            p{
                color:#15274A;
                font-size:24px;
                font-family:Nunito;
                font-weight:bold;
            }
           
        }
    }
 
}